@charset "utf-8";
/* CSS Document */

 body{
                background-color: #708090;
                color: black;
            }
            .mydiv{
                border: 5px outset rgb(0, 67, 105);
              background-color:royalblue ;
              padding:20px ;
              Width: 25% ; 
              margin-right: 10px;
              Float left;
              text-align: start;
            }
            h1{
                border: 5px outset rgb(0, 67, 105);
              background-color:royalblue ;
              padding:20px ;
              Width: 25% ; 
              margin-right: 10px;
              Float left;
              text-align: start;
            }
			h3{
				border:5px outset rgb(0,67,105);
				background-color: royalblue;
				padding 20px ;
				width: 20% ;
				margin-right: 10px;
				float left;
				text-align: start;
			}