@charset "utf-8";
/* CSS Document */

      body{
         background-color: url("/resources/images/1258686.jpg");
         background-attachment: fixed;
         background-size: cover;
         color:white;
       }
      .mydiv{
         border: 5px outset black;
         background-color:gray ;
         padding:20px ; 
         margin-top: 20px;
         margin-right: 10px;
         text-align: start;
       }
       a{
         color: white;
       }
      h1{
         border: 5px outset black;
         background-color:gray ;
         padding:20px ; 
         margin-right: 10px;
         text-align: start;
       }
			h3{
		     border:5px outset black;
				 background-color: gray;
			   padding: 20px ;
				 margin-right: 10px;
				 text-align: start;
       }
      footer{
         background-color: gray;
         border: 5px outset black;
         color:white;
         height: 200px;
         width: 100%;
         text-align: center;
         padding-top: 20px;
       }
      a{
         color: white;
       }
         .grid-container{
         display: grid;
         grid-template-columns: auto auto;
         padding: 20px;
       }
      .topnav{
         background-color: black;
       }

       /* Style the links inside the navigation bar */
         .topnav a {
         color: #f2f2f2;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
       }
         .topnav a:hover {
         background-color: gray;
         color: black;
       }
         .dropdown{
         color: #f2f2f2;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
       }
         .dropdown :hover{
         background-color: gray;
         color: black;
       }
         #monogram{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #teknologi{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px; 
       }
         #tekno{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #produksjon{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #prod{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #konseptutvikling{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #kons{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
         #rose{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 300px;
         width: 300px;
       }
          #header{
         width: 15cm;
       }
         #fname{
         width: 15cm;

       }
         #lname{
         width: 15cm;
       }
         #bdate{
         width: 15cm;
       }
         #ename{
         width: 15cm;
       }
         #mname{
         width: 15cm;
         height: 5cm;
       }
         .takk{
         text-align: center;
         font-size: 50px;
       }
         #thums{
         box-shadow: deeppink 50px 20px 50px;
         margin-left: 250px;
         margin-bottom: 100px;
         height: 400px;
         width: 400px;
       }
