body {
  background-image: url(../images/Wallpaper\ \(2\).jpg);
  border: 5px solid black;
}

.selections {
  display: flex;
  justify-content: center;
}
 
.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  transition: 100ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.result-score {
  margin-left: .1rem;
  font-size: 2rem;
  color:white;
}

.result-selection {
  opacity: .5;
  font-size: 2rem;
}

.result-selection.winner {
  opacity: 1;
  font-size: 3rem;
}