h1{
    border: 5px outset black;
    background-color: gray;
    color: white;
    padding:20px ; 
    margin-right: 10px;
    text-align: center;
}
body{
    background-image: url("/resources/images/pexels-photo-4173624.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:white;
  }
a{
    color: white;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #bilde1{
      box-shadow:blueviolet 50px 20px 50px;
      margin-left: 100px;
      margin-bottom: 100px;
  }
  #bilde2{
    box-shadow:green 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde3{
    box-shadow:red 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde4{
    box-shadow:blue 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde5{
    box-shadow:magenta 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde6{
    box-shadow:yellow 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde7{
    box-shadow:turquoise 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde8{
    box-shadow:pink 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde9{
    box-shadow:orange 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde10{
    box-shadow:plum 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde11{
    box-shadow:greenyellow 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde12{
    box-shadow:cornflowerblue 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde13{
    box-shadow: darkmagenta 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde14{
    box-shadow: deeppink 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde15{
    box-shadow: gold 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#bilde16{
    box-shadow: indigo 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.topnav{
    background-color: black;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  img{
      width: 250px;
      height: 250px;
  }
  footer{
    background-color: gray;
    border: 5px outset black;
    color:white;
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
.topnav a:hover {
    background-color: gray;
    color: black;
  }
  #bilde18{
    box-shadow:blueviolet 50px 20px 50px;
      margin-left: 100px;
      margin-bottom: 100px;
      width: 250px;
      height: 200px;
  }
   #bilde19{
    box-shadow:green 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde20{
    box-shadow:red 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde21{
    box-shadow:blue 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde22{
    box-shadow:magenta 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde23{
    box-shadow:yellow 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde24{
    box-shadow:turquoise 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde25{
    box-shadow:pink 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 250px;
    height: 200px;
}
#bilde26{
    box-shadow:magenta 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 250px;
}
#bilde27{
    box-shadow:blue 50px 20px 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 250px;
}
h2{
    border: 5px outset black;
    background-color: gray;
    color: white;
    padding:20px ; 
    margin-right: 10px;
    text-align: center;
}



  